.Debug {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 1.8rem;
    box-sizing: border-box;
}

.DebugText {
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    text-align: start;
}

.DebugContent {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.DebugButton {
    border-radius: 4px;
    border-width: 0;
    background-color: #3D61FF;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 5%), inset 0 1px 1px rgba(0, 0, 0, 0.11);
    padding: 0.8rem;
    margin-left: 1.3rem;
}

.DebugInput {
    border-radius: 5px;
    border-width: 0;
    outline-style: solid;
    outline-color: #BCC1DC;
    outline-width: 1px;
    font-size: 14px;
    font-weight: bold;
    color: #1565C0;
    width: 40%;
}