.SideBar {
    width: 15vw;
    /* width: 198px; */
    height: 100vh;
    background-color: #3C52C9;
}

.SideBarContent {
    height: 8vh;
    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 19px;
    font-weight: bold;
    color: white;
}