.Title {
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.4rem;
}

.TitleRectangle {
    display: inline-block;
    border-radius: 3px;
    background-color: #6BC5BC;
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.6rem;
    margin-left: 0.4rem;
}