.TopBar {
    width: 100%;
    background-color: white;
    /* padding: 1em; */
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5%);
    font-size: 16px;
    font-weight: bold;
    color: #6B7DEA;
}